.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-text-1 {
  margin: 14px auto 0 18px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px auto 0 68px;
}

.u-section-1 .u-icon-1 {
  width: 32px;
  height: 32px;
  color: rgb(16, 129, 224) !important;
  margin: -37px auto 60px 18px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}@font-face {
  font-family: 'minecraft';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/minecraft.ttf);
}